.q1{
    border: solid 2px blue;
}

.head{
    padding: 10px;
    background-color: rgb(30, 65, 205);
    color: white;
}
.choose{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
input{
    height: 20px;
    margin-top: 10px;
}
label{
    font-size: 16px;
    font-weight: bold;
}
button{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 33px;
    border-radius: 5px;
}
.q2{
    margin-top: 20px;
    border: solid 2px blue;
}
.managementproduct{
    background-color: rgb(30, 65, 205);
    color: white;
    padding: 10px;
}
th{
    width:171px;
}
.table-sort button{
    background-color: rgb(189, 74, 74);
}