body{
    background-color: rgb(168, 206, 191);
    margin: 0px auto;
}
.all{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}
.header{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: rgb(90, 151, 186);
    font-size: 30px;
    text-align:center;
}
.pick{
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
}
label{
    width:100px;
    float: left;
    background-color:rgb(170, 170, 170);
    margin-right: 5px;
   padding:5px ;
    width:200px;
    border: solid 2px green;
}
.main1{
    margin-top: 10px;
    margin-left: 10px;
}
.main11{
    padding:1px;
    width: 600px;
    background-color: rgb(66, 164, 164);
}
.choose{
    background-color:rgb(170, 170, 170);
    width: 250px;
    border: solid 2px green;
}
input{
    margin:5px;
}
.nut{
    background-color: brown;
    text-align: center;
    width:572px;
    margin-top: 20px;
    padding: 15px;
}
button{
    width:100px;
    height: 30px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: aqua;
}
input:focus{
    background-color: rgb(179, 179, 105);
}
.choose1{
    display: flex;
    background-color:rgb(170, 170, 170);
    border: solid 2px green;
    width: 250px;
}
.choose1 input{
    width: 40px;

}

.dialog{
    width: 100%;
    height: 100%;
    background-color: rgba(129, 115, 115, 0.399);
    position:fixed;
    top:0;
    left:0;
    display: none;
    }
    .dialog .dialog-content{
        width: 300px;
        margin:0px auto;
        background-color: white;
        margin-top:15%;
    }
    .dialog .dialog-body {
        padding: 30px;
        text-align: center;
    }
    .dialog .dialog-footer {
        background-color: #ede8e8;
        text-align: right;
        padding: 10px;
    }
    
    .dialog .dialog-footer button {
        font-size: 18px;
        padding: 6px 15px;
    }